.my-background {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  z-index: -1;
}


.main-star {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  color: var(--white);
  font-family: var(--primary-font);
  max-width: 350px;
}

.new-btn {
  background: var(--primary-color);
  color: var(--bg-dark);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.main .btn {
  color: black;
  padding: 10px 20px;
  font-weight: 500;
  cursor: pointer;
  border:  2px solid gray;

}

.main .btn:hover {
  background: #0d9488;
  color: white;
  border:  2px solid var(--primary-color);

}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.hero-content h1 {
  font-family: var(--secondery-font);
  font-size: 4rem;
  color: var(--text-color);

}
.hero-content  .span1{
  font-family: var(--secondery-font);
  font-size: 4rem;
  color: var(--primary-color);
}

.hero-content p {
  color: var(--white);
  font-size: 1.45rem;
}

.main-star {
  display: flex;
  justify-content: center;
}

.main { 
  width: 88.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-new {
  border: 2px solid var(--bg3-color);
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
}

.hp {
  color: var(--white);
  font-size: 1.3rem;
}

.new-btn {
  background-color: var(--primary-color);
  color: var(--bg-dark);
  border: 2px solid var(--white);
  padding: 5px 16px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .left {
    width: 20%;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
  

  .hero-content h1 {
    font-size: 3rem;
    align-items: start;
  }

  .hero-content p {
    font-size: 0.85rem;
    align-items: start;
  }

  .right{
    display: none;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px; 
  }
}

@media screen and (max-width: 768px) {
  .left {
    width: 80%;
  }
  .hero-content h1 {
    font-size: 3rem;
    align-items: start;
  }

  .hero-content p {
    font-size: 0.85rem;
    align-items: start;
  }

  .right{
    display: none;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px; 
  }

}

@media screen and (max-width: 480px) {
  .left {
    width: 100%;
  
  }

  .hero-content h1 {
    font-size: 3rem;
    align-items: start;
  }

  .hero-content p {
    font-size: 1.45rem;
    align-items: start;
  }

  .right{
    display: none;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px; 
  }
}
